body {
  margin: 0;
  padding: 0;
}

.g-box {
  position: relative;
  min-width: 1184px;
  min-height: 736px;
  text-align: center;
  margin: 0 auto;
  /* background-color: #f1f1f1; */
  background: rgba(0, 0, 0, 0.3);
}

#home {
  width: 90%;
  height: 99vh;
}
/* .m-btns {
  width: 1160px;
  height: 720px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
} */

.m-mask {
  position: relative;
  width: 100vw;
  height: 100vh;
  /* width: 1150px; */
  /* height: 720px; */
  background: rgba(0, 0, 0, 0.3);
  /* background: #f1f1f1; */
}

.u-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -30px;
  width: 200px;
  height: 60px;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.u-loading img {
  width: 24px;
  height: 24px;
}

.u-loading p {
  padding: 0;
  margin: 0;
  line-height: 36px;
}
